@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    display: inline-block;
}

section {
    flex: 1;
    display: flex;
}

main {
    flex: 1;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    height: 100px;
}

main {
    border: 4px solid;
    text-align: center;
}

header {
    border: 2px lightgrey dashed;
    border-radius: 25px;
}

#menu-bar {
    background-color: rgba(128, 128, 128, 0.3);
    width: 300px;
}

#footer {
    opacity: 75%;
    height: 80px;
}

body {
    padding: 0;
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    width: auto;
}

ul > li {
    text-align: center;
    width: 100%;
}


i {
    font-size: 50px;
}

.outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div {
    display: flex;
}


#search-bar {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-inner-grid {
    display: grid;
    grid-template-rows: 6fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.main-outer-grid {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    grid-template-rows: 1fr 0.2fr 1fr;
    grid-template-columns: 0.3fr 1fr;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

.card {
    display: grid;
}

.card-text {
    margin-bottom: 0;
}

#logo {
    width: 200px;
    height: 80px;
    object-fit: cover;
}

#header-bar {
    font-size: 20px;
}


@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header-div {
    display: grid;
}

#header-bar {
    clip-path: polygon(4% 0, 0% 45%, 0 100%, 96% 100%, 100% 58%, 100% 0%);
}

#navbarScroll {
    display: grid;
    justify-items: center;
    grid-template-columns: 0.8fr 0.3fr 1fr 0.5fr;
}


#header-form {
    grid-column: span 2;
}

#search-bar {
    width: 380px;
    height: 50px;
}

#category-drop {
    width: 100%;
    height: 100%;
}

#logo {
    filter: drop-shadow(2px 4px 6px orange);
}

#search-div {
    width: 100%;
}

.dropdown-toggle::after {
    margin: 0;
!important;
}

#dropdown {
    font-size: 30px;
}

#navbar-main {
    color: antiquewhite;
}


#login-register-icon {
    color: white;
    opacity: 0.5;
    font-size: 30px;
}

#login-icon, #register-icon {
    font-size: 40px;
}

#category-bar {
    font-size: 30px;
    text-shadow: #0d6efd;
}

img {
    width: fit-content;
}

#product-detail {
    width: 18rem;
    border: black dotted;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

#product-detail a {
    text-decoration: none;
    color: inherit;
}

#detail-image {
    grid-row: span 3;
    width: 700px;
    height: 700px;
}

#detail-price, #detail-name, #detail-description {
    color: white;
    font-family: NeoDunggeunmoPro-Regular, serif;
}

img {
    width: 75%;
    height: 75%;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    display: inline-block;
}

section {
    flex: 1;
    display: flex;
}

main {
    flex: 1;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    height: 100px;
}

main {
    border: 4px solid;
    text-align: center;
}

header {
    border: 2px lightgrey dashed;
    border-radius: 25px;
}

#menu-bar {
    background-color: rgba(128, 128, 128, 0.3);
    width: 300px;
}

#footer {
    opacity: 75%;
    height: 80px;
}

body {
    padding: 0;
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    width: auto;
}

ul > li {
    text-align: center;
    width: 100%;
}


i {
    font-size: 50px;
}

.outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div {
    display: flex;
}


#search-bar {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-inner-grid {
    display: grid;
    grid-template-rows: 6fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.main-outer-grid {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    grid-template-rows: 1fr 0.2fr 1fr;
    grid-template-columns: 0.3fr 1fr;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

.card {
    display: grid;
}

.card-text {
    margin-bottom: 0;
}

#logo {
    width: 200px;
    height: 80px;
    object-fit: cover;
}

#header-bar {
    font-size: 20px;
}


@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#header-div {
    display: grid;
}

#header-bar {
    clip-path: polygon(4% 0, 0% 45%, 0 100%, 96% 100%, 100% 58%, 100% 0%);
}

#navbarScroll {
    display: grid;
    justify-items: center;
    grid-template-columns: 0.8fr 0.3fr 1fr 0.5fr;
}


#header-form {
    grid-column: span 2;
}

#search-bar {
    width: 100%;
    height: 100%;
}

#category-drop {
    width: 100%;
    height: 100%;
}

#logo {
    filter: drop-shadow(2px 4px 6px orange);
}

#search-div {
    width: 100%;
}

.dropdown-toggle::after {
    margin: 0;
!important;
}

#dropdown {
    font-size: 100%;
}

#navbar-main {
    color: antiquewhite;
}


#login-register-icon {
    color: white;
    opacity: 0.5;
    font-size: 100%;
}

#login-icon, #register-icon {
    font-size: 100%;
}

#category-bar {
    font-size: 30px;
    text-shadow: #0d6efd;
}

img {
    width: fit-content;
}

#product-detail {
    width: 100%;
    border: black dotted;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

#product-detail a {
    text-decoration: none;
    color: inherit;
}

#detail-image {
    grid-row: span 3;
    width: 100%;
    height: 100%;
}

img {
    width: 75%;
    height: 75%;
}

#register {
    flex-wrap: wrap;
    font-size: 100%;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
}

#create-div {
    display: grid !important;
    place-self: center;
    width: 75%;
    text-align: center;
}

#description-bar {
    height: 150px !important;
}

#create-div input {
    height: 50px;
}

#create-div input::placeholder {
    font-size: 20px
}

#create-div button {
    font-size: 20px
}

#product-form {
    display: inline-table;
    width: 75%;
    justify-self: center;
}

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    display: inline-block;
}

section {
    flex: 1;
    display: flex;
}

main {
    flex: 1;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    height: 100px;
}

main {
    border: 4px solid;
    text-align: center;
}

header {
    border: 2px lightgrey dashed;
    border-radius: 25px;
}

#menu-bar {
    background-color: rgba(128, 128, 128, 0.3);
    width: 300px;
}

body {
    padding: 0;
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    width: auto;
}

ul > li {
    text-align: center;
    width: 100%;
}

i {
    font-size: 50px;
}

div {
    display: flex;
}


#search-bar {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-inner-grid {
    display: grid;
    grid-template-rows: 6fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.main-outer-grid {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

.card {
    display: grid;
}

.card-text {
    margin-bottom: 0;
}

#logo {
    width: 200px;
    height: 80px;
    object-fit: cover;
    filter: drop-shadow(2px 4px 6px orange);
}

#header-bar {
    clip-path: polygon(4% 0, 0% 45%, 0 100%, 96% 100%, 100% 58%, 100% 0%);
    font-size: 20px;
}

#header-div {
    display: grid;
}

#navbarScroll {
    display: grid;
    justify-items: center;
    grid-template-columns: 0.8fr 0.3fr 1fr 0.5fr;
}

#header-form {
    grid-column: span 2;
}

#search-bar {
    width: 380px;
    height: 50px;
}

#category-drop {
    width: 100%;
    height: 100%;
}

#search-div {
    width: 100%;
}

.dropdown-toggle::after {
    margin: 0;
!important;
}

#dropdown {
    font-size: 30px;
}

#navbar-main {
    color: antiquewhite;
}


#login-register-icon {
    color: white;
    opacity: 0.5;
    font-size: 30px;
}

#login-icon, #register-icon, #plus-icon {
    font-size: 40px;
}

#category-bar {
    font-size: 30px;
    text-shadow: #0d6efd;
}

img {
    width: fit-content;
}

#product-detail {
    width: 18rem;
    border: black dotted;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

#product-detail a {
    text-decoration: none;
    color: inherit;
}
