<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.transactionMapper">
    <select id = "selectAll" resultType="list">
        select * from transaction;
    </select>
    <select id = "selectOne" parameterType="int" resultType="basketDTO">
        select * from transaction where transactionId = #{transactionId}
    </select>
    <insert id="insert" parameterType="basketDTO">
        insert into basket(basketTime, userId, count, productId) value (#{basketTime}, #{userId}, #{count}, #{productId})
    </insert>
</mapper>