<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.basketMapper">
    <select id = "selectAll" resultType="basketDTO" parameterType="int">
        select * from basket where userId = #{userId};
    </select>
    <insert id="insert" parameterType="basketDTO">
        insert into basket(basketAddDate, userId, count, productId, totalPrice) value (#{basketAddDate}, #{userId}, #{count}, #{productId}, #{totalPrice})
    </insert>
    <delete id="delete" parameterType="int">
        delete from basket where productId = #{productId}
    </delete>
    <select id = "selectOne" parameterType="int" resultType="basketDTO">
        select * from basket where basketId = #{basketId}
    </select>
    <delete id="deleteAll" parameterType="int">
        delete from basket where userId = #{userId}
    </delete>
</mapper>